<mat-card>
  <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row" style="margin-top: 20px">
        <div class="col-md-6 offset-md-3">
          <h1 class="text-center">Formulario de Libro</h1>
          <form>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Codigo</mat-label>
              <input
                required
                minlength="4"
                [(ngModel)]="libro.codigo"
                name="codigo"
                matInput
                placeholder="Ingrese el codigo del Libro"
              />
              <mat-hint *ngIf="errors.codigo" style="color: red">
                {{ errors.codigo }}
              </mat-hint>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Titulo</mat-label>
              <input
                required
                minlength="4"
                [(ngModel)]="libro.titulo"
                name="titulo"
                matInput
                placeholder="Ingrese el titulo del Libro"
              />
              <mat-hint *ngIf="errors.titulo" style="color: red">
                {{ errors.titulo }}
              </mat-hint>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Año</mat-label>
              <input
                required
                type="number"
                minlength="4"
                [(ngModel)]="libro.anio"
                name="anio"
                matInput
                placeholder="Ingrese el año del Libro"
              />
              <mat-hint *ngIf="errors.anio" style="color: red">
                {{ errors.anio }}
              </mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" class="demo-select">
              <mat-label>Grado</mat-label>
              <mat-select [(ngModel)]="libro.grado" name="grado">
                <mat-option [value]="undefined">-- Seleccionar --</mat-option>
                <mat-option [value]="1">1°</mat-option>
                <mat-option [value]="2">2°</mat-option>
                <mat-option [value]="3">3°</mat-option>
                <mat-option [value]="4">4°</mat-option>
                <mat-option [value]="5">5°</mat-option>
                <mat-option [value]="6">6°</mat-option>
              </mat-select>
              <mat-hint *ngIf="errors.grado" style="color: red">
                {{ errors.grado }}
              </mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" class="demo-select">
              <mat-label>Area</mat-label>
              <mat-select
                [(ngModel)]="libro.area"
                name="area"
                [compareWith]="compareArea"
              >
                <mat-option [value]="undefined">-- Seleccionar --</mat-option>
                <mat-option *ngFor="let area of areas" [value]="area">
                  {{ area.nombre }}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="errors.area" style="color: red">
                {{ errors.area }}
              </mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" class="demo-select">
              <mat-label>Categoria</mat-label>
              <mat-select
                [(ngModel)]="libro.categoria"
                name="categoria"
                [compareWith]="compareCategoria"
              >
                <mat-option [value]="undefined">-- Seleccionar --</mat-option>
                <mat-option
                  *ngFor="let categoria of categorias"
                  [value]="categoria"
                >
                  {{ categoria.nombre }}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="errors.categoria" style="color: red">
                {{ errors.categoria }}
              </mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" class="demo-select">
              <mat-label>Editorial</mat-label>
              <mat-select
                [(ngModel)]="libro.editorial"
                name="editorial"
                [compareWith]="compareEditorial"
              >
                <mat-option [value]="undefined">-- Seleccionar --</mat-option>
                <mat-option
                  *ngFor="let editorial of editoriales"
                  [value]="editorial"
                >
                  {{ editorial.nombre }}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="errors.editorial" style="color: red">
                {{ errors.editorial }}
              </mat-hint>
            </mat-form-field>
            <mat-form-field
              class="example-full-width demo-select"
              appearance="fill"
            >
              <mat-label>Autor(es)</mat-label>
              <input
                type="text"
                placeholder="Agregar Autor"
                aria-label="Autor"
                matInput
                [formControl]="autocompleteControl"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="byNombreOrApellido"
                (optionSelected)="selectAutor($event)"
              >
                <mat-option
                  *ngFor="let autor of filteredAutores | async"
                  [value]="autor"
                >
                  {{ autor.nombre }} {{ autor.apellido }}
                </mat-option>
              </mat-autocomplete>
              <mat-hint *ngIf="errors.autores" style="color: red">
                {{ errors.autores }}
              </mat-hint>
            </mat-form-field>
            <ul>
              <li *ngFor="let autor of libro.autores">
                <h4>
                  {{ autor.nombre }} {{ autor.apellido }}
                  <button
                    mat-raised-button
                    color="warn"
                    (click)="deleteAutor(autor.id)"
                  >
                    X
                  </button>
                </h4>
              </li>
            </ul>
            <div class="container text-center">
              <button
                mat-raised-button
                color="primary"
                type="submit"
                (click)="save()"
                *ngIf="!libro.id; else elseSave"
              >
                Guardar
              </button>
              <ng-template #elseSave>
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  (click)="update()"
                >
                  Actualizar
                </button>
              </ng-template>
              <button
                mat-raised-button
                color="warn"
                type="button"
                [routerLink]="[routerLink() + '/libros']"
                style="margin-left: 20px"
                *ngIf="!libro.id; else elseBack"
              >
                Cancelar
              </button>
              <ng-template #elseBack>
                <button
                  mat-raised-button
                  color="warn"
                  type="button"
                  style="margin-left: 20px"
                  [routerLink]="[routerLink() + '/libros/detail', libro.id]"
                >
                  Cancelar
                </button>
              </ng-template>
              <button
                mat-raised-button
                color="accent"
                type="reset"
                (click)="limpiar()"
                style="margin-left: 20px"
              >
                Limpiar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br />
</mat-card>
