<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-icon-button>
      <mat-icon>menu_books</mat-icon>
    </a>
    <span>Sistema Biblioteca</span>
    <span class="example-spacer"></span>
    <button
      *ngIf="isLoggedIn"
      mat-raised-button
      color="primary"
      style="margin-right: 50px"
      (click)="logout()"
    >
      Cerrar sesión
    </button>
    <button
      *ngIf="isLoggedIn && usuario"
      mat-raised-button
      color="primary"
      style="margin-right: 10px"
    >
      {{ usuario.username }}
    </button>
  </mat-toolbar-row>
</mat-toolbar>
