.demo-button + .demo-button {
  margin-left: 8px;
}

.devuelto {
  color: green;
}

.activo {
  color: red;
}

.bueno {
  color: green;
}

.malo {
  color: red;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
