<div>
  <button type="button" [routerLink]="['/ejemplares-materiales/save']">
    Nuevo Ejemplar
  </button>
</div>
<div *ngIf="ejemplares.length == 0">No hay ejemplares registrados.</div>
<div>
  <table *ngIf="ejemplares.length > 0">
    <thead>
      <tr>
        <th>#</th>
        <th>Código Material</th>
        <th>Número</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ejemplar of ejemplares">
        <td>{{ ejemplar.id }}</td>
        <td>{{ ejemplar.material.codigo }}</td>
        <td>{{ ejemplar.numero }}</td>
        <td>{{ ejemplar.estado }}</td>
        <td>
          <button
            type="button"
            name="detail"
            [routerLink]="['/ejemplares-materiales/detail', ejemplar.id]"
          >
            Detalle
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
