<div>
  <form>
    <label for="nombre">Nombre</label>
    <div>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="area.nombre" />
    </div>
    <div *ngIf="errors.nombre">
      {{ errors.nombre }}
    </div>
    <div>
      <button type="submit" (click)="save()" *ngIf="!area.id; else elseSave">
        Guardar
      </button>
      <ng-template #elseSave>
        <button type="submit" (click)="update()">Actualizar</button>
      </ng-template>
    </div>
    <div>
      <button
        type="button"
        [routerLink]="['/areas']"
        *ngIf="!area.id; else elseBack"
      >
        Cancelar
      </button>
      <ng-template #elseBack>
        <button type="button" [routerLink]="['/areas/detail', area.id]">
          Cancelar
        </button>
      </ng-template>
    </div>
  </form>
</div>
