<mat-card>
  <div class="demo-button-container">
    <button
      mat-raised-button
      class="demo-button"
      [routerLink]="[routerLink() + '/ejemplares-materiales/save']"
    >
      Nuevo Ejemplar
    </button>
    <a
      mat-raised-button
      *ngIf="material.id"
      class="demo-button"
      [href]="exportByMaterialToPdf()"
      style="background-color: red; color: white"
      >PDF</a
    >
    <a
      mat-raised-button
      *ngIf="material.id"
      class="demo-button"
      [href]="exportByMaterialToXls()"
      style="background-color: green; color: white"
      >EXCEL</a
    >
  </div>
  <div>
    <mat-form-field>
      <mat-label>Buscar Material</mat-label>
      <input
        matInput
        [(ngModel)]="codigo"
        placeholder="Ingrese el código"
        #input
      />
    </mat-form-field>
    <button
      mat-raised-button
      class="demo-button"
      type="button"
      (click)="getOneByCodigo()"
      [disabled]="!codigo"
    >
      Buscar por Libro
    </button>
    <h3 class="text-center">Material: {{ material.nombre }}</h3>
  </div>
  <div *ngIf="!codigo">
    <h3 class="text-center">Ingrese un código de Material</h3>
  </div>
  <div *ngIf="codigo && dataSource.data.length === 0">
    <h3 class="text-center">No hay Ejemplares registrados</h3>
  </div>
  <div *ngIf="dataSource.data.length > 0">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 demo-table"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let ejemplar">{{ ejemplar.id }}</td>
      </ng-container>
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let ejemplar">
          {{ ejemplar.material.codigo }}-{{ ejemplar.numero }}
        </td>
      </ng-container>
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td
          mat-cell
          *matCellDef="let ejemplar"
          class="bueno"
          [ngClass]="{ malo: ejemplar.estado === 'MALO' }"
        >
          <b>{{ ejemplar.estado }}</b>
        </td>
      </ng-container>
      <ng-container matColumnDef="detalle">
        <th mat-header-cell *matHeaderCellDef>Detalle</th>
        <td mat-cell *matCellDef="let ejemplar">
          <button
            mat-raised-button
            color="primary"
            type="button"
            [routerLink]="[
              routerLink() + '/ejemplares-materiales/detail',
              ejemplar.id
            ]"
          >
            Detalle
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas"></tr>
    </table>
    <mat-paginator
      [length]="totalRows"
      [pageIndex]="currentPage"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageChanged($event)"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</mat-card>
