<mat-card>
  <div class="demo-button-container">
    <button
      mat-raised-button
      class="demo-button"
      [routerLink]="['/libros/form']"
    >
      Nuevo Libro
    </button>
    <a
      mat-raised-button
      *ngIf="id !== 0"
      class="demo-button"
      [href]="exportByEditorialToPdf()"
      style="background-color: red; color: white"
      >PDF</a
    >
    <a
      mat-raised-button
      *ngIf="id !== 0"
      class="demo-button"
      [href]="exportByEditorialToXls()"
      style="background-color: green; color: white"
      >EXCEL</a
    >
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Filtro</mat-label>
      <mat-select [(ngModel)]="id">
        <mat-option [value]="0">-- Seleccionar --</mat-option>
        <mat-option
          *ngFor="let editorial of editoriales"
          value="{{ editorial.id }}"
        >
          {{ editorial.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      class="demo-button"
      type="button"
      (click)="paginationByEditorial()"
      [disabled]="id === 0"
    >
      Buscar
    </button>
  </div>
  <div *ngIf="id === 0">
    <h3 class="text-center">Seleccione un filtro</h3>
  </div>
  <div *ngIf="id > 0 && dataSource.data.length === 0">
    <h3 class="text-center">No hay Libros que conincidan</h3>
  </div>
  <div *ngIf="dataSource.data.length > 0">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 demo-table"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let libro">{{ libro.id }}</td>
      </ng-container>
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let libro">{{ libro.codigo }}</td>
      </ng-container>
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef>Título</th>
        <td mat-cell *matCellDef="let libro">{{ libro.titulo }}</td>
      </ng-container>
      <ng-container matColumnDef="detalle">
        <th mat-header-cell *matHeaderCellDef>Detalle</th>
        <td mat-cell *matCellDef="let libro">
          <button
            mat-raised-button
            color="primary"
            type="button"
            [routerLink]="['/libros/detail', libro.id]"
          >
            Detalle
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas"></tr>
    </table>
    <mat-paginator
      [length]="totalRows"
      [pageIndex]="currentPage"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageChanged($event)"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</mat-card>
