<div></div>
<form>
  <label for="codigo">Código del Libro</label>
  <div>
    <input type="text" id="codigo" name="codigo" [(ngModel)]="codigo" />
  </div>
  <div>
    <button type="submit" (click)="getOneByCodigo()" [disabled]="!codigo">
      Buscar Libro
    </button>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Código</th>
          <th>Título</th>
          <th>Año</th>
          <th>Grado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ libro.id }}</td>
          <td>{{ libro.codigo }}</td>
          <td>{{ libro.titulo }}</td>
          <td>{{ libro.anio }}</td>
          <td>{{ libro.grado }}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" (click)="paginationByLibro()" [disabled]="!libro.id">
      Buscar por Libro
    </button>
  </div>
  <input type="number" id="page" name="page" [(ngModel)]="page" />
</form>
<div *ngIf="ejemplares.length == 0">No hay ejemplares que coincidan</div>
<div>
  <table *ngIf="ejemplares.length > 0">
    <thead>
      <tr>
        <th>#</th>
        <th>Código Libro</th>
        <th>Título</th>
        <th>Número</th>
        <th>Estado</th>
        <th>Prestado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ejemplar of ejemplares">
        <td>{{ ejemplar.id }}</td>
        <td>{{ ejemplar.libro.codigo }}</td>
        <td>{{ ejemplar.libro.titulo }}</td>
        <td>{{ ejemplar.numero }}</td>
        <td>{{ ejemplar.estado }}</td>
        <td>
          <div [ngSwitch]="ejemplar.prestado">
            <div *ngSwitchCase="true">SI</div>
            <div *ngSwitchDefault>NO</div>
          </div>
        </td>
        <td>
          <button
            type="button"
            name="detail"
            [routerLink]="['/ejemplares-libros/detail', ejemplar.id]"
          >
            Detalle
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
