<div>
  <button type="button" [routerLink]="['/categorias/form']">
    Nueva Categoria
  </button>
</div>
<div *ngIf="categorias.length == 0">No hay categorias registradas</div>
<div>
  <table *ngIf="categorias.length > 0">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of categorias">
        <td>{{ categoria.id }}</td>
        <td>{{ categoria.nombre }}</td>
        <td>
          <button
            type="button"
            name="detail"
            [routerLink]="['/categorias/detail', categoria.id]"
          >
            Detalle
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
