<mat-card>
  <mat-action-list>
    <div mat-subheader><b>Menú</b></div>
    <button routerLink="/areas" mat-list-item>Areas</button>
    <button routerLink="/autores" mat-list-item>Autores</button>
    <button routerLink="/categorias" mat-list-item>Categorias</button>
    <button routerLink="/docentes" mat-list-item>Docente</button>
    <button routerLink="/editoriales" mat-list-item>Editoriales</button>
    <button routerLink="/libros" mat-list-item>Libros</button>
    <button routerLink="/materiales" mat-list-item>Materiales</button>
    <button routerLink="/ejemplares-libros" mat-list-item>Ejemplares de Libros</button>
    <button routerLink="/ejemplares-materiales" mat-list-item>Ejemplares de Materiales</button>
    <button routerLink="/prestamos-libros" mat-list-item>Préstamos de Libros</button>
    <button routerLink="/prestamos-materiales" mat-list-item>Préstamos de Materiales</button>
  </mat-action-list>
</mat-card>
