<form>
  <label for="filtro">Filtrar</label>
  <div>
    <select name="id" [(ngModel)]="id" *ngIf="tipo == 'area'">
      <option [ngValue]="0">-- Seleccionar --</option>
      <option *ngFor="let area of areas" [ngValue]="area.id">
        {{ area.nombre }}
      </option>
    </select>
    <select name="tipo" id="tipo" [(ngModel)]="tipo">
      <option value="">-- Seleccionar --</option>
      <option value="area">Area</option>
    </select>
    <button type="button" (click)="filtrar()">Filtrar</button>
    <input type="number" id="page" name="page" [(ngModel)]="page" />
  </div>
</form>
<div *ngIf="materiales.length == 0">No hay materiales registrados.</div>
<div>
  <table *ngIf="materiales.length > 0">
    <thead>
      <tr>
        <th>#</th>
        <th>Código</th>
        <th>Nombre</th>
        <th>Medidas</th>
        <th>Area</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let material of materiales">
        <td>{{ material.id }}</td>
        <td>{{ material.codigo }}</td>
        <td>{{ material.nombre }}</td>
        <td>{{ material.medidas }}</td>
        <td>{{ material.area.nombre }}</td>
        <td>
          <button
            type="button"
            name="detail"
            [routerLink]="['/materiales/detail', material.id]"
          >
            Detalle
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
