<mat-card class="center-content">
  <mat-card-header>
    <mat-card-title>Detalle de Prestamo</mat-card-title>
  </mat-card-header>
  <br />
  <mat-card-content>
    <h4>ID: {{ prestamo.id }}</h4>
    <h4 *ngIf="prestamo.docente">
      Docente:
      <ul>
        <li>
          Nombre: {{ prestamo.docente.nombre }} {{ prestamo.docente.apellido }}
        </li>
        <li>DNI: {{ prestamo.docente.dni }}</li>
        <li>Telefono: {{ prestamo.docente.telefono }}</li>
      </ul>
    </h4>
    <h4>
      Fecha de Prestamo:
      {{ prestamo.fechaPrestamo | date : "dd-MM-yyyy HH:mm:ss" }}
    </h4>
    <h4 *ngIf="prestamo.fechaDevolucion">
      Fecha de Devoluvion:
      {{ prestamo.fechaDevolucion | date : "dd-MM-yyyy HH:mm:ss" }}
    </h4>
    <h4>Descripcion: {{ prestamo.descripcion }}</h4>
    <h4>Grado: {{ prestamo.grado }}</h4>
    <h4>Seccion: {{ prestamo.seccion }}</h4>
    <h4>
      Estado:
      <b class="devuelto" [ngClass]="{ activo: prestamo.activo }">{{
        prestamo.activo ? "ACTIVO" : "DEVUELTO"
      }}</b>
    </h4>
    <h4 *ngIf="prestamo.observaciones">
      Observaciones: {{ prestamo.observaciones }}
    </h4>
    <h4>Detalle de Prestamo:</h4>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 demo-table"
    >
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>Codigo de Ejemplar</th>
        <td mat-cell *matCellDef="let detalle">
          {{ detalle.ejemplarMaterial.material.codigo }}-{{
            detalle.ejemplarMaterial.numero
          }}
        </td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let detalle">
          {{ detalle.ejemplarMaterial.material.nombre }}
        </td>
      </ng-container>
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td
          mat-cell
          *matCellDef="let detalle"
          class="bueno"
          [ngClass]="{ malo: detalle.ejemplarMaterial.estado === 'MALO' }"
        >
          <b>{{ detalle.ejemplarMaterial.estado }}</b>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas"></tr>
    </table>
  </mat-card-content>
  <br />
  <mat-card-actions>
    <button
      mat-raised-button
      type="button"
      [routerLink]="[routerLink() + '/prestamos-materiales']"
      style="margin-left: 20px"
    >
      Volver
    </button>
    <button
      mat-raised-button
      color="accent"
      type="button"
      *ngIf="prestamo.activo"
      [routerLink]="[
        routerLink() + '/prestamos-materiales/cerrar',
        prestamo.id
      ]"
      style="margin-left: 20px"
    >
      Cerrar
    </button>
    <button
      mat-raised-button
      color="warn"
      type="button"
      (click)="delete(prestamo)"
      style="margin-left: 20px"
    >
      Eliminar
    </button>
  </mat-card-actions>
  <br />
</mat-card>
