<!-- <div>
  <button type="button" [routerLink]="['/prestamos-libros/form']">
    Nuevo Préstamo
  </button>
</div>
<form>
  <label for="fechaPrestamoStart">Desde</label>
  <input
    type="datetime-local"
    id="fechaPrestamoStart"
    name="fechaPrestamoStart"
    [(ngModel)]="fechaPrestamoStart"
  />
  <label for="fechaPrestamoEnd">Hasta</label>
  <input
    type="datetime-local"
    id="fechaPrestamoEnd"
    name="fechaPrestamoEnd"
    [(ngModel)]="fechaPrestamoEnd"
  />
  <button
    type="button"
    (click)="paginationByFechaPrestamo()"
    [disabled]="!fechaPrestamoStart || !fechaPrestamoEnd"
  >
    Buscar
  </button>
  <button type="button" (click)="cargarTodo()">Cagar Todo</button>
  <input type="number" id="page" name="page" [(ngModel)]="page" />
</form>
<div *ngIf="prestamos.length == 0">No hay prestamos registrados</div>
<div>
  <table *ngIf="prestamos.length > 0">
    <thead>
      <tr>
        <th>#</th>
        <th>Descripción</th>
        <th>Grado</th>
        <th>Sección</th>
        <th>Activo</th>
        <th>Docente</th>
        <th>Fecha de Préstamo</th>
        <th>Fecha de Devolución</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prestamo of prestamos">
        <td>{{ prestamo.id }}</td>
        <td>{{ prestamo.descripcion }}</td>
        <td>{{ prestamo.grado }}</td>
        <td>{{ prestamo.seccion }}</td>
        <td>
          <div [ngSwitch]="prestamo.activo">
            <div *ngSwitchCase="true">ACTIVO</div>
            <div *ngSwitchDefault>DEVUELTO</div>
          </div>
        </td>
        <td>{{ prestamo.docente.apellido }} {{ prestamo.docente.nombre }}</td>
        <td>{{ prestamo.fechaPrestamo | date : "dd-MM-yyyy HH:mm:ss" }}</td>
        <td>{{ prestamo.fechaDevolucion | date : "dd-MM-yyyy HH:mm:ss" }}</td>
        <td>
          <button
            type="button"
            name="detail"
            [routerLink]="['/prestamos-libros/detail', prestamo.id]"
          >
            Detalle
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
<mat-card>
  <div class="demo-button-container">
    <button
      mat-raised-button
      class="demo-button"
      [routerLink]="['/prestamos-libros/form']"
    >
      Nuevo Prestamo
    </button>
  </div>
  <div *ngIf="dataSource.data.length == 0">
    <h3 class="text-center">No hay Prestamos registrados</h3>
  </div>
  <div *ngIf="dataSource.data.length > 0">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 demo-table"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let prestamo">{{ prestamo.id }}</td>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let prestamo">{{ prestamo.descripcion }}</td>
      </ng-container>
      <ng-container matColumnDef="grado">
        <th mat-header-cell *matHeaderCellDef>Grado</th>
        <td mat-cell *matCellDef="let prestamo">{{ prestamo.grado }}</td>
      </ng-container>
      <ng-container matColumnDef="seccion">
        <th mat-header-cell *matHeaderCellDef>Sección</th>
        <td mat-cell *matCellDef="let prestamo">{{ prestamo.seccion }}</td>
      </ng-container>
      <ng-container matColumnDef="fecha_prestamo">
        <th mat-header-cell *matHeaderCellDef>Fecha Prestamo</th>
        <td mat-cell *matCellDef="let prestamo">
          {{ prestamo.fechaPrestamo | date : "dd-MM-yyyy HH:mm:ss" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="detalle">
        <th mat-header-cell *matHeaderCellDef>Detalle</th>
        <td mat-cell *matCellDef="let prestamo">
          <button
            mat-raised-button
            color="primary"
            type="button"
            [routerLink]="['/prestamos-libros/detail', prestamo.id]"
          >
            Detalle
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas"></tr>
    </table>
    <mat-paginator
      [length]="totalRows"
      [pageIndex]="currentPage"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageChanged($event)"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</mat-card>
