<mat-card>
  <div class="demo-button-container">
    <button
      mat-raised-button
      class="demo-button"
      [routerLink]="['/prestamos-libros/form']"
    >
      Nuevo Prestamo
    </button>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Desde</mat-label>
      <input
        matInput
        [matDatepicker]="fechaPrestamoStart"
        name="fechaPrestamoStart"
        id="fechaPrestamoStart"
        [(ngModel)]="fechasPrestamos.start"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="fechaPrestamoStart"
      ></mat-datepicker-toggle>
      <mat-datepicker #fechaPrestamoStart></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Hasta</mat-label>
      <input
        matInput
        [matDatepicker]="fechaPrestamoEnd"
        name="fechaPrestamoEnd"
        id="fechaPrestamoEnd"
        [(ngModel)]="fechasPrestamos.end"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="fechaPrestamoEnd"
      ></mat-datepicker-toggle>
      <mat-datepicker #fechaPrestamoEnd></mat-datepicker>
    </mat-form-field>
    <button
      mat-raised-button
      class="demo-button"
      type="button"
      (click)="paginationByFechaPrestamo()"
      [disabled]="!fechasPrestamos.start || !fechasPrestamos.end"
    >
      Buscar
    </button>
    <button
      mat-raised-button
      class="demo-button"
      type="button"
      (click)="cargarTodo()"
    >
      Cargar Todo
    </button>
  </div>
  <div *ngIf="dataSource.data.length === 0">
    <h3 class="text-center">No hay Prestamos registrados</h3>
  </div>
  <div *ngIf="dataSource.data.length > 0">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 demo-table"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let prestamo">{{ prestamo.id }}</td>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let prestamo">{{ prestamo.descripcion }}</td>
      </ng-container>
      <ng-container matColumnDef="grado-seccion">
        <th mat-header-cell *matHeaderCellDef>Grado y Seccion</th>
        <td mat-cell *matCellDef="let prestamo">
          {{ prestamo.grado }} {{ prestamo.seccion }}
        </td>
      </ng-container>
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td
          mat-cell
          *matCellDef="let prestamo"
          class="devuelto"
          [ngClass]="{ activo: prestamo.activo }"
        >
          <b>{{ prestamo.activo ? "ACTIVO" : "DEVUELTO" }}</b>
        </td>
      </ng-container>
      <ng-container matColumnDef="fecha_prestamo">
        <th mat-header-cell *matHeaderCellDef>Fecha de Prestamo</th>
        <td mat-cell *matCellDef="let prestamo">
          {{ prestamo.fechaPrestamo | date : "dd-MM-yyyy HH:mm:ss" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="detalle">
        <th mat-header-cell *matHeaderCellDef>Detalle</th>
        <td mat-cell *matCellDef="let prestamo">
          <button
            mat-raised-button
            color="primary"
            type="button"
            [routerLink]="['/prestamos-libros/detail', prestamo.id]"
          >
            Detalle
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas"></tr>
    </table>
    <mat-paginator
      [length]="totalRows"
      [pageIndex]="currentPage"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageChanged($event)"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</mat-card>
