<mat-card>
  <mat-card-header>
    <mat-card-title>Detalle de Docente</mat-card-title>
  </mat-card-header>
  <br />
  <mat-card-content>
    <h4>ID: {{ docente.id }}</h4>
    <h4>Nombre: {{ docente.nombre }}</h4>
    <h4>Apellido: {{ docente.apellido }}</h4>
    <h4>DNI: {{ docente.dni }}</h4>
    <h4>Teléfono: {{ docente.telefono }}</h4>
  </mat-card-content>
  <br />
  <mat-card-actions>
    <button
      mat-raised-button
      type="button"
      [routerLink]="['/docentes']"
      style="margin-left: 20px"
    >
      Volver
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      [routerLink]="['/docentes/form', docente.id]"
      style="margin-left: 20px"
    >
      Actualizar
    </button>
  </mat-card-actions>
  <br />
</mat-card>
