<form>
  <label for="filtro">Filtrar</label>
  <div>
    <select name="id" [(ngModel)]="id">
      <option [ngValue]="0">-- Seleccionar --</option>
      <option *ngFor="let area of areas" [ngValue]="area.id">
        {{ area.nombre }}
      </option>
    </select>
    <button type="button" (click)="paginationByArea()" [disabled]="id == 0">
      Filtrar
    </button>
    <input type="number" id="page" name="page" [(ngModel)]="page" />
    <input
      type="number"
      id="pages"
      name="pages"
      *ngIf="pages > 0"
      [(ngModel)]="pages"
      disabled="true"
    />
  </div>
</form>
<div *ngIf="libros.length == 0">No hay libros registrados.</div>
<div>
  <table *ngIf="libros.length > 0">
    <thead>
      <tr>
        <th>#</th>
        <th>Código</th>
        <th>Título</th>
        <th>Año</th>
        <th>Grado</th>
        <th>Area</th>
        <th>Categoria</th>
        <th>Editorial</th>
        <th>N° de Autores</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let libro of libros">
        <td>{{ libro.id }}</td>
        <td>{{ libro.codigo }}</td>
        <td>{{ libro.titulo }}</td>
        <td>{{ libro.anio }}</td>
        <td>{{ libro.grado }}</td>
        <td>{{ libro.area.nombre }}</td>
        <td>{{ libro.categoria.nombre }}</td>
        <td>{{ libro.editorial.nombre }}</td>
        <td>{{ libro.autores.length }}</td>
        <td>
          <button
            type="button"
            name="detail"
            [routerLink]="['/libros/detail', libro.id]"
          >
            Detalle
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
