<mat-card class="center-content">
  <mat-card-header>
    <mat-card-title>Detalle de Libro</mat-card-title>
  </mat-card-header>
  <br />
  <mat-card-content>
    <h4>ID: {{ libro.id }}</h4>
    <h4>Codigo: {{ libro.codigo }}</h4>
    <h4>Título: {{ libro.titulo }}</h4>
    <h4>Año: {{ libro.anio }}</h4>
    <h4>Grado: {{ libro.grado }}</h4>
    <h4>Area: {{ libro.area.nombre }}</h4>
    <h4>Categoria: {{ libro.categoria.nombre }}</h4>
    <h4>Editorial: {{ libro.editorial.nombre }}</h4>
    <h4>Autor(es):</h4>
    <ul>
      <li *ngFor="let autor of libro.autores">
        <h4>{{ autor.nombre }} {{ autor.apellido }}</h4>
      </li>
    </ul>
    <h4>N° de Ejemplares Totales: {{ ejemplares }}</h4>
    <h4>N° de Ejemplares Disponibles: {{ ejemplaresDisponibles }}</h4>
  </mat-card-content>
  <br />
  <mat-card-actions>
    <button
      mat-raised-button
      type="button"
      [routerLink]="[routerLink() + '/libros']"
      style="margin-left: 20px"
    >
      Volver
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      [routerLink]="[routerLink() + '/libros/form', libro.id]"
      style="margin-left: 20px"
    >
      Actualizar
    </button>
  </mat-card-actions>
  <br />
</mat-card>
