<div>
  <button type="button" name="back" [routerLink]="['/libros']">Volver</button>
</div>
<div *ngIf="libro">
  <ul>
    <li>{{ libro.id }}</li>
    <li>{{ libro.codigo }}</li>
    <li>{{ libro.titulo }}</li>
    <li>{{ libro.anio }}</li>
    <li>{{ libro.grado }}</li>
    <li>{{ libro.area.nombre }}</li>
    <li>{{ libro.categoria.nombre }}</li>
    <li>{{ libro.editorial.nombre }}</li>
    <li>{{ ejemplares }}</li>
    <li>{{ ejemplaresDisponibles }}</li>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellido</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let autor of libro.autores">
          <td>{{ autor.id }}</td>
          <td>{{ autor.nombre }}</td>
          <td>{{ autor.apellido }}</td>
        </tr>
      </tbody>
    </table>
  </ul>
</div>
<div>
  <button type="button" name="update" [routerLink]="['/libros/form', libro.id]">
    Actualizar
  </button>
</div>
