<div>
  <button type="button" [routerLink]="['/libros/form']">Nuevo Libro</button>
</div>
<form>
  <label for="buscar">Filtrar</label>
  <div>
    <input type="text" id="buscar" name="buscar" [(ngModel)]="buscar" />
    <select name="tipo" id="tipo" [(ngModel)]="tipo">
      <option value="">-- Seleccionar --</option>
      <option value="titulo">Título</option>
      <option value="codigo">Código</option>
    </select>
    <button type="button" (click)="buscador()">Buscar</button>
  </div>
</form>
<div *ngIf="libros.length == 0">No hay libros registrados.</div>
<div>
  <table *ngIf="libros.length > 0">
    <thead>
      <tr>
        <th>#</th>
        <th>Código</th>
        <th>Título</th>
        <th>Año</th>
        <th>Grado</th>
        <th>Area</th>
        <th>Categoria</th>
        <th>Editorial</th>
        <th>N° de Autores</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let libro of libros">
        <td>{{ libro.id }}</td>
        <td>{{ libro.codigo }}</td>
        <td>{{ libro.titulo }}</td>
        <td>{{ libro.anio }}</td>
        <td>{{ libro.grado }}</td>
        <td>{{ libro.area.nombre }}</td>
        <td>{{ libro.categoria.nombre }}</td>
        <td>{{ libro.editorial.nombre }}</td>
        <td>{{ libro.autores.length }}</td>
        <td>
          <button
            type="button"
            name="detail"
            [routerLink]="['/libros/detail', libro.id]"
          >
            Detalle
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
