<mat-card>
  <div class="demo-button-container">
    <button
      mat-raised-button
      class="demo-button"
      [routerLink]="['/libros/form']"
    >
      Nuevo Libro
    </button>
    <a
      mat-raised-button
      class="demo-button"
      [href]="exportAllToPdf()"
      style="background-color: red; color: white"
      target="_blank"
      >PDF</a
    >
    <a
      mat-raised-button
      class="demo-button"
      [href]="exportAllToXls()"
      style="background-color: green; color: white"
      >EXCEL</a
    >
  </div>
  <div>
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input
        matInput
        [(ngModel)]="buscar"
        placeholder="Ingrese el valor a buscar"
        [disabled]="!tipo"
        #input
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Filtro</mat-label>
      <mat-select [(ngModel)]="tipo">
        <mat-option value="">-- Seleccionar --</mat-option>
        <mat-option value="titulo">Titulo</mat-option>
        <mat-option value="codigo">Codigo</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      class="demo-button"
      type="button"
      (click)="buscador()"
      [disabled]="!buscar || !tipo"
    >
      Buscar
    </button>
    <button
      mat-raised-button
      class="demo-button"
      type="button"
      (click)="cargarTodo()"
    >
      Cargar Todo
    </button>
  </div>
  <div *ngIf="dataSource.data.length === 0">
    <h3 class="text-center">No hay Libros registrados</h3>
  </div>
  <div *ngIf="dataSource.data.length > 0">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 demo-table"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let libro">{{ libro.id }}</td>
      </ng-container>
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>Codigo</th>
        <td mat-cell *matCellDef="let libro">{{ libro.codigo }}</td>
      </ng-container>
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef>Titulo</th>
        <td mat-cell *matCellDef="let libro">{{ libro.titulo }}</td>
      </ng-container>
      <ng-container matColumnDef="detalle">
        <th mat-header-cell *matHeaderCellDef>Detalle</th>
        <td mat-cell *matCellDef="let libro">
          <button
            mat-raised-button
            color="primary"
            type="button"
            [routerLink]="['/libros/detail', libro.id]"
          >
            Detalle
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas"></tr>
    </table>
    <mat-paginator
      [length]="totalRows"
      [pageIndex]="currentPage"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageChanged($event)"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</mat-card>
