<mat-card class="center-content">
  <mat-card-header>
    <mat-card-title>Detalle de Editorial</mat-card-title>
  </mat-card-header>
  <br />
  <mat-card-content>
    <h4>ID: {{ editorial.id }}</h4>
    <h4>Nombre: {{ editorial.nombre }}</h4>
  </mat-card-content>
  <br />
  <mat-card-actions>
    <button
      mat-raised-button
      type="button"
      [routerLink]="[routerLink() + '/editoriales']"
      style="margin-left: 20px"
    >
      Volver
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      [routerLink]="[routerLink() + '/editoriales/form', editorial.id]"
      style="margin-left: 20px"
    >
      Actualizar
    </button>
  </mat-card-actions>
  <br />
</mat-card>
