<mat-card>
  <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row" style="margin-top: 20px">
        <div class="col-md-6 offset-md-3">
          <h1 class="text-center">Formulario de Ejemplar</h1>
          <form>
            <mat-card-content>
              <h4>
                Codigo: {{ ejemplarLibro.libro.codigo }}-{{
                  ejemplarLibro.numero
                }}
              </h4>
            </mat-card-content>
            <br />
            <mat-form-field appearance="fill" class="demo-select">
              <mat-label>Estado</mat-label>
              <mat-select [(ngModel)]="ejemplarLibro.estado" name="estado">
                <mat-option value="BUENO">BUENO</mat-option>
                <mat-option value="REGULAR">REGULAR</mat-option>
                <mat-option value="MALO">MALO</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Observaciones</mat-label>
              <textarea
                type="text"
                [(ngModel)]="ejemplarLibro.observaciones"
                name="observaciones"
                matInput
                placeholder="Ingrese las observaciones del Ejemplar"
              ></textarea>
            </mat-form-field>
            <div class="container text-center">
              <button
                mat-raised-button
                color="primary"
                type="submit"
                (click)="update()"
              >
                Guardar
              </button>
              <button
                mat-raised-button
                color="warn"
                type="button"
                style="margin-left: 20px"
                [routerLink]="[
                  routerLink() + '/ejemplares-libros/detail',
                  ejemplarLibro.id
                ]"
              >
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br />
</mat-card>
