<mat-card>
  <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row" style="margin-top: 20px">
        <div class="col-md-6 offset-md-3">
          <h1 class="text-center">Formulario de Ejemplares</h1>
          <div>
            <mat-form-field>
              <mat-label>Buscar Libro</mat-label>
              <input
                matInput
                [(ngModel)]="codigo"
                placeholder="Ingrese el codigo"
                #input
              />
            </mat-form-field>
            <button
              mat-raised-button
              class="demo-button"
              type="button"
              (click)="getOneByCodigo()"
              [disabled]="!codigo"
            >
              Buscar Libro
            </button>
            <h4 class="text-center" *ngIf="libro.id">
              Libro: {{ libro.titulo }}
            </h4>
          </div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Cantidad</mat-label>
            <input
              required
              type="number"
              min="1"
              [(ngModel)]="cantidad"
              name="cantidad"
              matInput
              placeholder="Ingrese la cantidad de Ejemplares"
              [disabled]="!libro.id"
            />
          </mat-form-field>
          <div class="container text-center">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              (click)="save()"
              [disabled]="!libro.id || cantidad < 1"
            >
              Guardar
            </button>
            <button
              mat-raised-button
              color="warn"
              type="button"
              [routerLink]="[routerLink() + '/ejemplares-libros']"
              style="margin-left: 20px"
            >
              Cancelar
            </button>
            <button
              mat-raised-button
              color="accent"
              type="reset"
              style="margin-left: 20px"
              (click)="limpiar()"
            >
              Limpiar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</mat-card>
