<div></div>
<form>
  <label for="grado">Grado</label>
  <select name="grado" id="grado" [(ngModel)]="grado">
    <option [ngValue]="0">-- Seleccionar --</option>
    <option [ngValue]="1">1°</option>
    <option [ngValue]="2">2°</option>
    <option [ngValue]="3">3°</option>
    <option [ngValue]="4">4°</option>
    <option [ngValue]="5">5°</option>
    <option [ngValue]="6">6°</option>
  </select>
  <label for="seccion">Sección</label>
  <select name="seccion" id="seccion" [(ngModel)]="seccion">
    <option value="">-- Seleccionar --</option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
    <option value="E">E</option>
    <option value="F">F</option>
    <option value="G">G</option>
    <option value="H">H</option>
    <option value="I">I</option>
    <option value="J">J</option>
    <option value="K">K</option>
  </select>
  <button
    type="button"
    (click)="paginationByGradoAndSeccion()"
    [disabled]="grado == 0 || seccion == ''"
  >
    Buscar por Grado y Sección
  </button>
  <div>
    <label for="fechaPrestamoStart">Desde</label>
    <input
      type="datetime-local"
      id="fechaPrestamoStart"
      name="fechaPrestamoStart"
      [(ngModel)]="fechaPrestamoStart"
    />
    <label for="fechaPrestamoEnd">Hasta</label>
    <input
      type="datetime-local"
      id="fechaPrestamoEnd"
      name="fechaPrestamoEnd"
      [(ngModel)]="fechaPrestamoEnd"
    />
    <button
      type="button"
      (click)="paginationByFechaPrestamoAndGradoAndSeccion()"
      [disabled]="!fechaPrestamoStart || !fechaPrestamoEnd"
    >
      Añadir fechas
    </button>
    <input type="number" id="page" name="page" [(ngModel)]="page" />
  </div>
</form>
<div *ngIf="prestamos.length == 0">No hay prestamos registrados</div>
<div>
  <table *ngIf="prestamos.length > 0">
    <thead>
      <tr>
        <th>#</th>
        <th>Descripción</th>
        <th>Grado</th>
        <th>Sección</th>
        <th>Activo</th>
        <th>Docente</th>
        <th>Fecha de Préstamo</th>
        <th>Fecha de Devolución</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prestamo of prestamos">
        <td>{{ prestamo.id }}</td>
        <td>{{ prestamo.descripcion }}</td>
        <td>{{ prestamo.grado }}</td>
        <td>{{ prestamo.seccion }}</td>
        <td>
          <div [ngSwitch]="prestamo.activo">
            <div *ngSwitchCase="true">ACTIVO</div>
            <div *ngSwitchDefault>DEVUELTO</div>
          </div>
        </td>
        <td>{{ prestamo.docente.apellido }} {{ prestamo.docente.nombre }}</td>
        <td>{{ prestamo.fechaPrestamo | date : "dd-MM-yyyy HH:mm:ss" }}</td>
        <td>{{ prestamo.fechaDevolucion | date : "dd-MM-yyyy HH:mm:ss" }}</td>
        <td>
          <button
            type="button"
            name="detail"
            [routerLink]="['/prestamos-libros/detail', prestamo.id]"
          >
            Detalle
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
