<!-- <div>
  <button
    type="button"
    name="back"
    [routerLink]="['/prestamos-materiales/detail', prestamo.id]"
  >
    Volver
  </button>
</div>
<div *ngIf="prestamo">
  <div>
    <h3>Datos del Docente</h3>
    <ul>
      <li>{{ prestamo.id }}</li>
      <li>{{ prestamo.docente.apellido }}</li>
      <li>{{ prestamo.docente.nombre }}</li>
      <li>{{ prestamo.docente.dni }}</li>
      <li>{{ prestamo.docente.telefono }}</li>
    </ul>
  </div>
  <div>
    <h3>Detalle del Préstamo</h3>
    <ul>
      <li>{{ prestamo.id }}</li>
      <li>{{ prestamo.descripcion }}</li>
      <li>{{ prestamo.grado }}</li>
      <li>{{ prestamo.seccion }}</li>
      <li>
        <div [ngSwitch]="prestamo.activo">
          <div *ngSwitchCase="true">ACTIVO</div>
          <div *ngSwitchDefault>DEVUELTO</div>
        </div>
      </li>
      <li>{{ prestamo.fechaPrestamo | date : "dd-MM-yyyy HH:mm:ss" }}</li>
      <li>{{ prestamo.fechaDevolucion | date : "dd-MM-yyyy HH:mm:ss" }}</li>
    </ul>
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Título</th>
          <th>N° de Ejemplar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detalle of prestamo.detalle">
          <td>{{ detalle.ejemplarLibro.libro.codigo }}</td>
          <td>{{ detalle.ejemplarLibro.libro.titulo }}</td>
          <td>{{ detalle.ejemplarLibro.numero }}</td>
        </tr>
      </tbody>
    </table>
    <h3>Agregar Observaciones de la Devolución de ser necesario</h3>
    <textarea
      id="observaciones"
      name="observaciones"
      [(ngModel)]="prestamo.observaciones"
    >
    </textarea>
  </div>
</div>
<div>
  <button type="button" name="cerrar" (click)="close()">Cerrar</button>
</div> -->

<mat-card>
  <mat-card-header>
    <mat-card-title>Detalle de Prestamo</mat-card-title>
  </mat-card-header>
  <br />
  <mat-card-content>
    <h4>ID: {{ prestamo.id }}</h4>
    <h4 *ngIf="prestamo.docente">
      Docente:
      <ul>
        <li>
          Nombre: {{ prestamo.docente.nombre }} {{ prestamo.docente.apellido }}
        </li>
        <li>DNI: {{ prestamo.docente.dni }}</li>
        <li>Telefono: {{ prestamo.docente.telefono }}</li>
      </ul>
    </h4>
    <h4>
      Fecha de Prestamo:
      {{ prestamo.fechaPrestamo | date : "dd-MM-yyyy HH:mm:ss" }}
    </h4>
    <h4 *ngIf="prestamo.fechaDevolucion">
      Fecha de Devoluvion:
      {{ prestamo.fechaDevolucion | date : "dd-MM-yyyy HH:mm:ss" }}
    </h4>
    <h4>Descripcion: {{ prestamo.descripcion }}</h4>
    <h4>Grado: {{ prestamo.grado }}</h4>
    <h4>Seccion: {{ prestamo.seccion }}</h4>
    <h4>
      Estado:
      <b class="devuelto" [ngClass]="{ activo: prestamo.activo }">{{
        prestamo.activo ? "ACTIVO" : "DEVUELTO"
      }}</b>
    </h4>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Observaciones</mat-label>
      <textarea
        type="text"
        [(ngModel)]="prestamo.observaciones"
        name="observaciones"
        matInput
        placeholder="Ingrese las observaciones del Prestamo"
      ></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      type="button"
      [routerLink]="['/prestamos-materiales/detail', prestamo.id]"
      style="margin-left: 20px"
    >
      Volver
    </button>
    <button
      mat-raised-button
      color="warn"
      type="button"
      (click)="close()"
      style="margin-left: 20px"
    >
      Cerrar
    </button>
  </mat-card-actions>
  <br />
</mat-card>
